USE_R2_UPLOAD=true
R2_ACCOUNT_ID=your_account_id
R2_ACCESS_KEY_ID=your_access_key_id
R2_SECRET_ACCESS_KEY=your_secret_access_key
R2_BUCKET_NAME=your_bucket_name
R2_BUCKET_FOLDER=roman/2026
R2_PUBLIC_BASE_URL=https://cdn.example.com/assets
